<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fems.company">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CompanyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CompanyCaseActivity"/>
        <activity android:name=".CompanyAboutWeActivity"/>
        <activity android:name=".CompanyWebDesignActivity"/>
        <activity android:name=".CompanyWeChatPubActivity"/>
        <activity android:name=".CompanyWeChatXcxActivity"/>
        <activity android:name=".CompanyWebVisualDesignActivity"/>
        <activity android:name=".CompanySolutionOfKtvActivity"/>
        <activity android:name=".CompanySolutionOfJiuDianActivity"/>
        <activity android:name=".CompanySolutionOfCanYinActivity"/>
        <activity android:name=".CompanySolutionOfEnterpriseActivity"/>
        <activity android:name=".CompanyIndustryCaseActivity"/>
    </application>

</manifest>